*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin: 20px;
}

.btn button{
    background-color: white;
    height: 40px;
    width: 100px;
    margin: 80px 50px 20px;
}

img{
    margin: 10px 100px;
}